body{
    margin: 0rem;
    
}

/* Header */

.primary-navigation{
    display: flex;
    align-items: center;
    padding-inline: 2rem;
    justify-content: space-between;
    background-color: hotpink;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}

.primary-text{
    color: white;
}

.logodiv{
    display: flex;
    align-items: center;
    gap: 1rem;
    
    
}

.navigaiton-list{
    display:flex;
    align-items: center;
    gap: 3rem;
    list-style: none;
}


.Froggy{
    width: 3rem;
}



/* Main */

main{
    margin-inline: 8rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title{
    display:flex;
    justify-content: center;
    font-size: 1.8rem;
    margin: 2.4rem;   
}

.div-grid{
    font-size: 0.9rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
    margin-bottom: 5rem;
}

.h2Titel{
    font-size: 1.3rem;
    padding: 0rem;
    margin: 0rem;

}


.image{
    display:block;
    width: 100%;
    object-fit: cover;
    grid-column: span 2;
    grid-row: span 2;
}

.introtext{
    grid-column: span 1;
    grid-row: span 1;
    width: 22rem;
    padding: 0rem;
    margin: 0rem;
}


.list-flex{
    height: auto;
}

